body {
    background-color: lightblue;
}
figure {
    display:inline-block;
}
figcaption {
    text-align: center;
}
{
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.wrapper {
  width:700px;
  margin: 25px auto;
  overflow:hidden;
  border: 0px solid grey;
  position:relative;
}

.item {
  height:200px;
  width:25%;
  float:left;
  background-position: left top;
  transition:width 0.5s ease;
  position:relative;
  z-index:2;
}

.wrapper:hover .item {
  width:10%;
  transition:width 0.5s ease;
}

.wrapper .item:hover{
  width:70%;
  transition:width 0.5s ease;
}

.one {
    <img src="gapestation/wow.jpg";
}

.catch {
  position:absolute;
  top:0;
  right:0;
  bottom:0;
  left:0;
  z-index:1;
}

.catch:hover ~ .item {
  width:25%;
}
